.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 1px 12px 30px 0px rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
}

.event:hover {
  background-color: deeppink;
}

.img {
  flex: 1;
  margin: 10px;
}

.info {
  flex: 2;
}

@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
