@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  font-family: "Newsreader", serif;
  font-weight: 600;
  background-image: url("../public/images/bg.jpg") !important;
  color: #fff !important;
}

a {
  text-decoration: none;
  color: steelblue;
}

p {
  margin: 10px 0;
}

h1 {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background: rgb(186, 193, 194);
  color: #000;
  padding: 10px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-secondary {
  font: inherit;
  font-size: 13px;
  background: rgb(190, 223, 238);
  color: #000 !important;
  border: 0;
  border-radius: 5px;
  padding: 5px 15px;
  margin: 0 20px;
  cursor: pointer;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-icon svg {
  margin-right: 5px;
}
